body {
  background-image: url("descarga (2).jpg");
}
h1 {
  color: brown;
}
h2 {
  color: crimson;
}
h3 {
  color: darkmagenta;
}
h3 {
  color: darkorchid;
}
h4 {
  color: deeppink;
}
